.fade-enter {
  opacity: 0;
  height: 0%;
  transition: 10s;
}
.fade-exit {
  opacity: 0.1;
  height: 80%;
  transition: 10s;
}
.fade-enter-active {
  opacity: 1;
  height: 80%;
  transition: 10s;
}
.fade-exit-active {
  opacity: 0;
  height: 0%;
  transition: 10s;
}
